<div class="preloader" ></div>

			<!-- ============================ Main Section Start ================================== -->
			<section class="gray">
				<div class="container">
					<div class="row">
					
						<div class="col-xl-4 col-lg-4 col-md-12">
                            <app-author-banner ></app-author-banner>
						</div>
						
						<div class="col-xl-8 col-lg-8 col-md-12">
							
                            <app-author-listings ></app-author-listings>
							
						</div>
					</div>
				</div>
			</section>
			<!-- ============================ Main Section End ================================== -->
            <app-author-news></app-author-news>
