<div class="author-wrap-ngh">
    <div class="online">Online Now</div>
    <div class="author-wrap-head-ngh">
        <div class="author-wrap-ngh-thumb"><!--https://source.unsplash.com/400x400/?profile,profile-->
            <img src="Image banner" class="img-fluid circle" alt="" />
        </div>
        <div class="author-wrap-ngh-info">
            <h5>"Username"</h5>
            <div class="Goodup-location"><i class="fas fa-map-marker-alt"></i>California, USA</div>
        </div>
    </div>
    
    <div class="author-wrap-caption-ngh">
        <div class="author-wrap-jhyu-ngh">
            <ul>
                <li>
                    <div class="gdup-kvty">
                        <div class="gdup-kvty-icon bg-light-sky text-sky"><i class="fas fa-file"></i></div>
                        <div class="gdup-kvty-ctr"><h6 class="count">#listings</h6></div>
                        <div class="gdup-kvty-text">Listings</div>
                    </div>
                </li>
                <li>
                    <div class="gdup-kvty">
                        <div class="gdup-kvty-icon bg-light-warning text-warning"><i class="fas fa-thumbs-up"></i></div>
                        <div class="gdup-kvty-ctr"><h6 class="count">#Folloers</h6><span></span></div>
                        <div class="gdup-kvty-text">Followers</div>
                    </div>
                </li>
                <li>
                    <div class="gdup-kvty">
                        <div class="gdup-kvty-icon bg-light-danger text-danger"><i class="fas fa-heart"></i></div>
                        <div class="gdup-kvty-ctr"><h6 class="count">#Followings</h6></div>
                        <div class="gdup-kvty-text">Followings</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="author-wrap-yuio-ngh mt-5">
            <div class="row g-4">
                <div class="col-6">
                    <a href="javascript:void(0);" class="adv-btn full-width">Follow Now</a>	
                </div>
                <div class="col-6">
                    <a href="javascript:void(0);" class="adv-btn full-width">Send Message</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="author-wrap-footer-ngh">
        <ul>
            <li>
                <div class="jhk-list-inf">
                    <div class="jhk-list-inf-ico"><i class="fas fa-envelope"></i></div>
                    <div class="jhk-list-inf-caption"><h5>Mail Us</h5><p>supports&#64;Goodup.co.uk</p></div>
                </div>
            </li>
            <li>
                <div class="jhk-list-inf">
                    <div class="jhk-list-inf-ico"><i class="fas fa-phone"></i></div>
                    <div class="jhk-list-inf-caption"><h5>Make Call</h5><p>(210) 659 584 756</p></div>
                </div>
            </li>
            <li>
                <div class="jhk-list-inf">
                    <div class="jhk-list-inf-ico"><i class="fas fa-map-marker-alt"></i></div>
                    <div class="jhk-list-inf-caption"><h5>Get Direction</h5><p>2919 N Flores St San Antonio, TX 78212</p></div>
                </div>
            </li>
            <li>
                <div class="jhk-list-inf">
                    <div class="jhk-list-inf-ico"><i class="fas fa-globe"></i></div>
                    <div class="jhk-list-inf-caption"><h5>Live Web:</h5><p>https://www.Goodup.com/</p></div>
                </div>
            </li>
        </ul>
    </div>
    
</div>