			<!-- ======================= Searchbar Banner ======================== -->
			<div class="featured-slick">
				<div class="featured-gallery-slide"><!--https://via.placeholder.com/1200x850-->
					<div class="dlf-flew"><a href="https://source.unsplash.com/1200x850/?event,events" class="mfp-gallery"><img src="https://source.unsplash.com/1200x850/?event,events" class="img-fluid mx-auto" alt="" /></a></div>
					<div class="dlf-flew"><a href="https://source.unsplash.com/1200x850/?party,event" class="mfp-gallery"><img src="https://source.unsplash.com/1200x850/?party,event" class="img-fluid mx-auto" alt="" /></a></div>
					<div class="dlf-flew"><a href="https://source.unsplash.com/1200x850/?gathering,event" class="mfp-gallery"><img src="https://source.unsplash.com/1200x850/?gathering,event" class="img-fluid mx-auto" alt="" /></a></div>
					<div class="dlf-flew"><a href="https://source.unsplash.com/1200x850/?event,concert" class="mfp-gallery"><img src="https://source.unsplash.com/1200x850/?event,concert" class="img-fluid mx-auto" alt="" /></a></div>
					<div class="dlf-flew"><a href="https://source.unsplash.com/1200x850/?event,events" class="mfp-gallery"><img src="https://source.unsplash.com/1200x850/?event,events" class="img-fluid mx-auto" alt="" /></a></div>
					<div class="dlf-flew"><a href="https://source.unsplash.com/1200x850/?party,event" class="mfp-gallery"><img src="https://source.unsplash.com/1200x850/?party,event" class="img-fluid mx-auto" alt="" /></a></div>
					<div class="dlf-flew"><a href="https://source.unsplash.com/1200x850/?gathering,event" class="mfp-gallery"><img src="https://source.unsplash.com/1200x850/?gathering,event" class="img-fluid mx-auto" alt="" /></a></div>
					<div class="dlf-flew"><a href="https://source.unsplash.com/1200x850/?event,concert" class="mfp-gallery"><img src="https://source.unsplash.com/1200x850/?event,concert" class="img-fluid mx-auto" alt="" /></a></div>
				</div>

				<div class="Goodup-ops-bhri">
					<div class="Goodup-lkp-flex d-flex align-items-start justify-content-start">
						<div class="Goodup-lkp-thumb">
							<img src="assets/img/burger-king.png" class="img-fluid" width="90" alt="" />
						</div>
						<div class="Goodup-lkp-caption ps-3">
							<div class="Goodup-lkp-title"><h1 class="text-light mb-0 ft-bold">Event Name</h1></div>
							<div class="Goodup-ft-first">
								<div class="Goodup-rating">
									<div class="Goodup-rates">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
									</div>
								</div>
								<div class="Goodup-price-range">
									<span class="ft-medium text-light">34 Reviews</span>
									<div class="d-inline ms-2">
										<span class="active"><i class="fas fa-dollar-sign"></i></span>
										<span class="active"><i class="fas fa-dollar-sign"></i></span>
										<span class="active"><i class="fas fa-dollar-sign"></i></span>
									</div>
								</div>
							</div>
							<div class="d-block mt-3">
								<div class="list-lioe">
									<div class="list-lioe-single"><span class="ft-medium text-info"><i class="fas fa-check-circle me-1"></i>Claimed</span></div>
									<div class="list-lioe-single ms-2 ps-3 seperate">
										<a href="javascript:void(0);" class="text-light ft-medium">Chicken Wings</a>,<a href="javascript:void(0);" class="text-light ft-medium ms-1">Sports Bars</a>,<a href="javascript:void(0);" class="text-light ft-medium ms-1">American (Traditional)</a>,<a href="javascript:void(0);" class="text-light ft-medium ms-1">Seafood</a>
									</div>
								</div>
							</div>
							<div class="d-block mt-1">
								<div class="list-lioe">
									<div class="list-lioe-single"><span class="ft-medium text-danger">Closed</span><span class="text-light ft-medium ms-2">11:00 AM - 12:00 AM</span></div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ======================= Searchbar Banner ======================== -->
