
<div class="auth-filter-headers">
    <div class="auth-filter-headers-title">
        <h5 class="ft-bold fs-md m-0">You have total<span class="theme-cl px-2">412</span>Listings</h5>
    </div>
    <div class="auth-filter-headers-filts">
        <ul class="no-ul-list">
            <li>
                <input id="alls" class="checkbox-custom" name="alls" type="checkbox" checked="">
                <label for="alls" class="checkbox-custom-label">All</label>
            </li>
            <li>
                <input id="pls" class="checkbox-custom" name="pls" type="checkbox">
                <label for="pls" class="checkbox-custom-label">Places</label>
            </li>
            <li>
                <input id="prty" class="checkbox-custom" name="prty" type="checkbox">
                <label for="prty" class="checkbox-custom-label">Property</label>
            </li>
            <li>
                <input id="crs" class="checkbox-custom" name="crs" type="checkbox">
                <label for="crs" class="checkbox-custom-label">Cars</label>
            </li>
            <li>
                <input id="htls" class="checkbox-custom" name="htls" type="checkbox">
                <label for="htls" class="checkbox-custom-label">Hotels</label>
            </li>
            <li>
                <input id="jbsd" class="checkbox-custom" name="jbsd" type="checkbox">
                <label for="jbsd" class="checkbox-custom-label">Jobs</label>
            </li>
        </ul>
    </div>
</div>

<!-- row -->
<div class="row justify-content-center gx-3">

    <!-- Single -->
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="Goodup-grid-wrap">
            <div class="Goodup-grid-upper">
                <div class="Goodup-bookmark-btn"><button type="button"><i class="lni lni-heart-filled position-absolute"></i></button></div>
                <div class="Goodup-pos ab-left">
                    <div class="Goodup-status open me-2">Open</div>
                    <div class="Goodup-featured-tag">Featured</div>
                </div>
                <div class="Goodup-grid-thumb"><!--https://via.placeholder.com/1200x850-->
                    <a  class="d-block text-center m-auto"><img src="https://source.unsplash.com/1200x850/?event,world" class="img-fluid" alt="" /></a>
                </div>
            </div>
            <div class="Goodup-grid-fl-wrap"><!--https://via.placeholder.com/400x400-->
                <div class="Goodup-caption px-3 py-2">
                    <div class="Goodup-author"><a ><img src="https://source.unsplash.com/400x400/?profile,people" class="img-fluid circle" alt="" /></a></div>
                    <div class="Goodup-cates"><a href="search.html">Wedding</a></div>
                    <h4 class="mb-0 ft-medium medium"><a  class="text-dark fs-md">Rajwara Marriage Home<span class="verified-badge"><i class="fas fa-check-circle"></i></span></a></h4>
                    <div class="Goodup-middle-caption mt-3">
                        <div class="Goodup-location"><i class="fas fa-map-marker-alt"></i>Liverpool, London UK</div>
                        <div class="Goodup-call"><i class="fas fa-phone-alt"></i>+91 365 795 4526</div>
                    </div>
                </div>
                <div class="Goodup-grid-footer py-3 px-3">
                    <div class="Goodup-ft-first">
                        <div class="Goodup-rating">
                            <div class="Goodup-pr-average high">4.3</div>
                            <div class="Goodup-rates">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div class="Goodup-price-range">
                            <span class="active"><i class="fas fa-dollar-sign"></i></span>
                            <span class="active"><i class="fas fa-dollar-sign"></i></span>
                            <span class="active"><i class="fas fa-dollar-sign"></i></span>
                            <span class="active"><i class="fas fa-dollar-sign"></i></span>
                        </div>
                    </div>
                    <div class="Goodup-ft-last">
                        <span class="small">2 min ago</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Single -->
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="Goodup-grid-wrap">
            <div class="Goodup-grid-upper">
                <div class="Goodup-bookmark-btn"><button type="button"><i class="lni lni-heart-filled position-absolute"></i></button></div>
                <div class="Goodup-pos ab-left">
                    <div class="Goodup-status close me-2">Closed</div>
                </div>
                <div class="Goodup-grid-thumb"><!--https://via.placeholder.com/1200x850-->
                    <a  class="d-block text-center m-auto"><img src="https://source.unsplash.com/1200x850/?event,world" class="img-fluid" alt="" /></a>
                </div>
            </div>
            <div class="Goodup-grid-fl-wrap"><!--https://via.placeholder.com/400x400-->
                <div class="Goodup-caption px-3 py-2">
                    <div class="Goodup-author"><a ><img src="https://source.unsplash.com/400x400/?profile,people" class="img-fluid circle" alt="" /></a></div>
                    <div class="Goodup-cates"><a href="search.html">Sports</a></div>
                    <h4 class="mb-0 ft-medium medium"><a href="listing-search-v1.html" class="text-dark fs-md">Decathlon Sport House<span class="verified-badge"><i class="fas fa-check-circle"></i></span></a></h4>
                    <div class="Goodup-middle-caption mt-3">
                        <div class="Goodup-location"><i class="fas fa-map-marker-alt"></i>San Denever, USA</div>
                        <div class="Goodup-call"><i class="fas fa-phone-alt"></i>+91 365 874 6310</div>
                    </div>
                </div>
                <div class="Goodup-grid-footer py-3 px-3">
                    <div class="Goodup-ft-first">
                        <div class="Goodup-rating">
                            <div class="Goodup-pr-average mid">3.5</div>
                            <div class="Goodup-rates">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div class="Goodup-price-range">
                            <span class="active"><i class="fas fa-dollar-sign"></i></span>
                            <span class="active"><i class="fas fa-dollar-sign"></i></span>
                            <span><i class="fas fa-dollar-sign"></i></span>
                            <span><i class="fas fa-dollar-sign"></i></span>
                        </div>
                    </div>
                    <div class="Goodup-ft-last">
                        <span class="small">10 min ago</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Single -->
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="Goodup-grid-wrap">
            <div class="Goodup-grid-upper">
                <div class="Goodup-bookmark-btn"><button type="button"><i class="lni lni-heart-filled position-absolute"></i></button></div>
                <div class="Goodup-pos ab-left">
                    <div class="Goodup-status open me-2">Open</div>
                    <div class="Goodup-featured-tag">Featured</div>
                </div>
                <div class="Goodup-grid-thumb"><!--https://via.placeholder.com/1200x850-->
                    <a class="d-block text-center m-auto"><img src="https://source.unsplash.com/1200x850/?event,world" class="img-fluid" alt="" /></a>
                </div>
            </div>
            <div class="Goodup-grid-fl-wrap"><!--https://via.placeholder.com/400x400-->
                <div class="Goodup-caption px-3 py-2">
                    <div class="Goodup-author"><a><img src="https://source.unsplash.com/400x400/?profile,people" class="img-fluid circle" alt="" /></a></div>
                    <div class="Goodup-cates"><a href="search.html">Hotels</a></div>
                    <h4 class="mb-0 ft-medium medium"><a href="listing-search-v1.html" class="text-dark fs-md">The Gold Hotel Lalit<span class="verified-badge"><i class="fas fa-check-circle"></i></span></a></h4>
                    <div class="Goodup-middle-caption mt-3">
                        <div class="Goodup-location"><i class="fas fa-map-marker-alt"></i>California, USA</div>
                        <div class="Goodup-call"><i class="fas fa-phone-alt"></i>+91 365 874 2140</div>
                    </div>
                </div>
                <div class="Goodup-grid-footer py-3 px-3">
                    <div class="Goodup-ft-first">
                        <div class="Goodup-rating">
                            <div class="Goodup-pr-average high">4.4</div>
                            <div class="Goodup-rates">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div class="Goodup-price-range">
                            <span class="active"><i class="fas fa-dollar-sign"></i></span>
                            <span class="active"><i class="fas fa-dollar-sign"></i></span>
                            <span class="active"><i class="fas fa-dollar-sign"></i></span>
                            <span><i class="fas fa-dollar-sign"></i></span>
                        </div>
                    </div>
                    <div class="Goodup-ft-last">
                        <span class="small">3 Hours ago</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Single -->
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="Goodup-grid-wrap">
            <div class="Goodup-grid-upper">
                <div class="Goodup-bookmark-btn"><button type="button"><i class="lni lni-heart-filled position-absolute"></i></button></div>
                <div class="Goodup-pos ab-left">
                    <div class="Goodup-status open me-2">open</div>
                </div>
                <div class="Goodup-grid-thumb"><!--https://via.placeholder.com/1200x850-->
                    <a  class="d-block text-center m-auto"><img src="https://source.unsplash.com/1200x850/?event,world" class="img-fluid" alt="" /></a>
                </div>
            </div>
            <div class="Goodup-grid-fl-wrap"><!--https://via.placeholder.com/400x400-->
                <div class="Goodup-caption px-3 py-2">
                    <div class="Goodup-author"><a ><img src="https://source.unsplash.com/400x400/?profile,people" class="img-fluid circle" alt="" /></a></div>
                    <div class="Goodup-cates"><a href="search.html">Zym & Health</a></div>
                    <h4 class="mb-0 ft-medium medium"><a href="listing-search-v1.html" class="text-dark fs-md">Fitness Revolution Gym<span class="verified-badge"><i class="fas fa-check-circle"></i></span></a></h4>
                    <div class="Goodup-middle-caption mt-3">
                        <div class="Goodup-location"><i class="fas fa-map-marker-alt"></i>New Wshington, UK</div>
                        <div class="Goodup-call"><i class="fas fa-phone-alt"></i>+91 368 740 5100</div>
                    </div>
                </div>
                <div class="Goodup-grid-footer py-3 px-3">
                    <div class="Goodup-ft-first">
                        <div class="Goodup-rating">
                            <div class="Goodup-pr-average mid">4.9</div>
                            <div class="Goodup-rates">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div class="Goodup-price-range">
                            <span class="active"><i class="fas fa-dollar-sign"></i></span>
                            <span class="active"><i class="fas fa-dollar-sign"></i></span>
                            <span class="active"><i class="fas fa-dollar-sign"></i></span>
                            <span><i class="fas fa-dollar-sign"></i></span>
                        </div>
                    </div>
                    <div class="Goodup-ft-last">
                        <span class="small">1 days ago</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Single -->
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="Goodup-grid-wrap">
            <div class="Goodup-grid-upper">
                <div class="Goodup-bookmark-btn"><button type="button"><i class="lni lni-heart-filled position-absolute"></i></button></div>
                <div class="Goodup-pos ab-left">
                    <div class="Goodup-status close me-2">Closed</div>
                    <div class="Goodup-featured-tag">Featured</div>
                </div>
                <div class="Goodup-grid-thumb"><!--https://via.placeholder.com/1200x850-->
                    <a  class="d-block text-center m-auto"><img src="https://source.unsplash.com/1200x850/?event,world" class="img-fluid" alt="" /></a>
                </div>
            </div>
            <div class="Goodup-grid-fl-wrap"><!--https://via.placeholder.com/400x400-->
                <div class="Goodup-caption px-3 py-2">
                    <div class="Goodup-author"><a><img src="https://source.unsplash.com/400x400/?profile,people" class="img-fluid circle" alt="" /></a></div>
                    <div class="Goodup-cates"><a href="search.html">Beauty & Makeup</a></div>
                    <h4 class="mb-0 ft-medium medium"><a href="listing-search-v1.html" class="text-dark fs-md">Pretty Woman Smart Batra<span class="verified-badge"><i class="fas fa-check-circle"></i></span></a></h4>
                    <div class="Goodup-middle-caption mt-3">
                        <div class="Goodup-location"><i class="fas fa-map-marker-alt"></i>Shiv Narkilla, Brazil</div>
                        <div class="Goodup-call"><i class="fas fa-phone-alt"></i>+91 365 854 7230</div>
                    </div>
                </div>
                <div class="Goodup-grid-footer py-3 px-3">
                    <div class="Goodup-ft-first">
                        <div class="Goodup-rating">
                            <div class="Goodup-pr-average mid">3.2</div>
                            <div class="Goodup-rates">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div class="Goodup-price-range">
                            <span class="active"><i class="fas fa-dollar-sign"></i></span>
                            <span class="active"><i class="fas fa-dollar-sign"></i></span>
                            <span><i class="fas fa-dollar-sign"></i></span>
                            <span><i class="fas fa-dollar-sign"></i></span>
                        </div>
                    </div>
                    <div class="Goodup-ft-last">
                        <span class="small">2 days ago</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Single -->
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="Goodup-grid-wrap">
            <div class="Goodup-grid-upper">
                <div class="Goodup-bookmark-btn"><button type="button"><i class="lni lni-heart-filled position-absolute"></i></button></div>
                <div class="Goodup-pos ab-left">
                    <div class="Goodup-status open me-2">Open</div>
                </div>
                <div class="Goodup-grid-thumb"><!--https://via.placeholder.com/1200x850-->
                    <a  class="d-block text-center m-auto"><img src="https://source.unsplash.com/1200x850/?event,world" class="img-fluid" alt="" /></a>
                </div>
            </div>
            <div class="Goodup-grid-fl-wrap"><!--https://via.placeholder.com/400x400-->
                <div class="Goodup-caption px-3 py-2">
                    <div class="Goodup-author"><a ><img src="https://source.unsplash.com/400x400/?profile,people" class="img-fluid circle" alt="" /></a></div>
                    <div class="Goodup-cates"><a href="search.html">Night Party</a></div>
                    <h4 class="mb-0 ft-medium medium"><a href="listing-search-v1.html" class="text-dark fs-md">The Sartaj Blue Night<span class="verified-badge"><i class="fas fa-check-circle"></i></span></a></h4>
                    <div class="Goodup-middle-caption mt-3">
                        <div class="Goodup-location"><i class="fas fa-map-marker-alt"></i>San Francisco, USA</div>
                        <div class="Goodup-call"><i class="fas fa-phone-alt"></i>+91 635 890 7500</div>
                    </div>
                </div>
                <div class="Goodup-grid-footer py-3 px-3">
                    <div class="Goodup-ft-first">
                        <div class="Goodup-rating">
                            <div class="Goodup-pr-average high">4.5</div>
                            <div class="Goodup-rates">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div class="Goodup-price-range">
                            <span class="active"><i class="fas fa-dollar-sign"></i></span>
                            <span class="active"><i class="fas fa-dollar-sign"></i></span>
                            <span class="active"><i class="fas fa-dollar-sign"></i></span>
                            <span class="active"><i class="fas fa-dollar-sign"></i></span>
                        </div>
                    </div>
                    <div class="Goodup-ft-last">
                        <span class="small">3 days ago</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Single -->
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="Goodup-grid-wrap">
            <div class="Goodup-grid-upper">
                <div class="Goodup-bookmark-btn"><button type="button"><i class="lni lni-heart-filled position-absolute"></i></button></div>
                <div class="Goodup-pos ab-left">
                    <div class="Goodup-status close me-2">Closed</div>
                </div>
                <div class="Goodup-grid-thumb"><!--https://via.placeholder.com/1200x850-->
                    <a class="d-block text-center m-auto"><img src="https://source.unsplash.com/1200x850/?event,world" class="img-fluid" alt="" /></a>
                </div>
            </div>
            <div class="Goodup-grid-fl-wrap"><!--https://via.placeholder.com/400x400-->
                <div class="Goodup-caption px-3 py-2">
                    <div class="Goodup-author"><a ><img src="https://source.unsplash.com/400x400/?profile,people" class="img-fluid circle" alt="" /></a></div>
                    <div class="Goodup-cates"><a href="search.html">Cafe & Bar</a></div>
                    <h4 class="mb-0 ft-medium medium"><a href="listing-search-v1.html" class="text-dark fs-md">Pizza Delight Cafe<span class="verified-badge"><i class="fas fa-check-circle"></i></span></a></h4>
                    <div class="Goodup-middle-caption mt-3">
                        <div class="Goodup-location"><i class="fas fa-map-marker-alt"></i>Liverpool, London</div>
                        <div class="Goodup-call"><i class="fas fa-phone-alt"></i>+91 639 572 4160</div>
                    </div>
                </div>
                <div class="Goodup-grid-footer py-3 px-3">
                    <div class="Goodup-ft-first">
                        <div class="Goodup-rating">
                            <div class="Goodup-pr-average poor">2.8</div>
                            <div class="Goodup-rates">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div class="Goodup-price-range">
                            <span class="active"><i class="fas fa-dollar-sign"></i></span>
                            <span class="active"><i class="fas fa-dollar-sign"></i></span>
                            <span><i class="fas fa-dollar-sign"></i></span>
                            <span><i class="fas fa-dollar-sign"></i></span>
                        </div>
                    </div>
                    <div class="Goodup-ft-last">
                        <span class="small">4 days ago</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Single -->
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="Goodup-grid-wrap">
            <div class="Goodup-grid-upper">
                <div class="Goodup-bookmark-btn"><button type="button"><i class="lni lni-heart-filled position-absolute"></i></button></div>
                <div class="Goodup-pos ab-left">
                    <div class="Goodup-status open me-2">Open</div>
                    <div class="Goodup-featured-tag">Featured</div>
                </div>
                <div class="Goodup-grid-thumb"><!--https://via.placeholder.com/1200x850-->
                    <a  class="d-block text-center m-auto"><img src="https://source.unsplash.com/1200x850/?event,world" class="img-fluid" alt="" /></a>
                </div>
            </div>
            <div class="Goodup-grid-fl-wrap"><!--https://via.placeholder.com/400x400-->
                <div class="Goodup-caption px-3 py-2">
                    <div class="Goodup-author"><a ><img src="https://source.unsplash.com/400x400/?profile,people" class="img-fluid circle" alt="" /></a></div>
                    <div class="Goodup-cates"><a href="search.html">Shopping Mall</a></div>
                    <h4 class="mb-0 ft-medium medium"><a href="listing-search-v1.html" class="text-dark fs-md">The Great Allante Shop<span class="verified-badge"><i class="fas fa-check-circle"></i></span></a></h4>
                    <div class="Goodup-middle-caption mt-3">
                        <div class="Goodup-location"><i class="fas fa-map-marker-alt"></i>Old california, USA</div>
                        <div class="Goodup-call"><i class="fas fa-phone-alt"></i>+91 365 874 1400</div>
                    </div>
                </div>
                <div class="Goodup-grid-footer py-3 px-3">
                    <div class="Goodup-ft-first">
                        <div class="Goodup-rating">
                            <div class="Goodup-pr-average mid">3.7</div>
                            <div class="Goodup-rates">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div class="Goodup-price-range">
                            <span class="active"><i class="fas fa-dollar-sign"></i></span>
                            <span class="active"><i class="fas fa-dollar-sign"></i></span>
                            <span class="active"><i class="fas fa-dollar-sign"></i></span>
                            <span><i class="fas fa-dollar-sign"></i></span>
                        </div>
                    </div>
                    <div class="Goodup-ft-last">
                        <span class="small">3 days ago</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Single -->
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="Goodup-grid-wrap">
            <div class="Goodup-grid-upper">
                <div class="Goodup-bookmark-btn"><button type="button"><i class="lni lni-heart-filled position-absolute"></i></button></div>
                <div class="Goodup-pos ab-left">
                    <div class="Goodup-status open me-2">Open</div>
                    <div class="Goodup-featured-tag">Featured</div>
                </div>
                <div class="Goodup-grid-thumb"><!--https://via.placeholder.com/1200x850-->
                    <a  class="d-block text-center m-auto"><img src="https://source.unsplash.com/1200x850/?event,world" class="img-fluid" alt="" /></a>
                </div>
            </div>
            <div class="Goodup-grid-fl-wrap"><!--https://via.placeholder.com/400x400-->
                <div class="Goodup-caption px-3 py-2">
                    <div class="Goodup-author"><a ><img src="https://source.unsplash.com/400x400/?profile,people" class="img-fluid circle" alt="" /></a></div>
                    <div class="Goodup-cates"><a href="search.html">Wedding</a></div>
                    <h4 class="mb-0 ft-medium medium"><a href="listing-search-v1.html" class="text-dark fs-md">Rajwara Marriage Home<span class="verified-badge"><i class="fas fa-check-circle"></i></span></a></h4>
                    <div class="Goodup-middle-caption mt-3">
                        <div class="Goodup-location"><i class="fas fa-map-marker-alt"></i>Liverpool, London UK</div>
                        <div class="Goodup-call"><i class="fas fa-phone-alt"></i>+91 365 795 4526</div>
                    </div>
                </div>
                <div class="Goodup-grid-footer py-3 px-3">
                    <div class="Goodup-ft-first">
                        <div class="Goodup-rating">
                            <div class="Goodup-pr-average high">4.3</div>
                            <div class="Goodup-rates">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div class="Goodup-price-range">
                            <span class="active"><i class="fas fa-dollar-sign"></i></span>
                            <span class="active"><i class="fas fa-dollar-sign"></i></span>
                            <span class="active"><i class="fas fa-dollar-sign"></i></span>
                            <span class="active"><i class="fas fa-dollar-sign"></i></span>
                        </div>
                    </div>
                    <div class="Goodup-ft-last">
                        <span class="small">2 min ago</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Single -->
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="Goodup-grid-wrap">
            <div class="Goodup-grid-upper">
                <div class="Goodup-bookmark-btn"><button type="button"><i class="lni lni-heart-filled position-absolute"></i></button></div>
                <div class="Goodup-pos ab-left">
                    <div class="Goodup-status close me-2">Closed</div>
                </div>
                <div class="Goodup-grid-thumb"><!--https://via.placeholder.com/1200x850-->
                    <a  class="d-block text-center m-auto"><img src="https://source.unsplash.com/1200x850/?event,world" class="img-fluid" alt="" /></a>
                </div>
            </div>
            <div class="Goodup-grid-fl-wrap"><!--https://via.placeholder.com/400x400-->
                <div class="Goodup-caption px-3 py-2">
                    <div class="Goodup-author"><a ><img src="https://source.unsplash.com/400x400/?profile,people" class="img-fluid circle" alt="" /></a></div>
                    <div class="Goodup-cates"><a href="search.html">Sports</a></div>
                    <h4 class="mb-0 ft-medium medium"><a href="listing-search-v1.html" class="text-dark fs-md">Decathlon Sport House<span class="verified-badge"><i class="fas fa-check-circle"></i></span></a></h4>
                    <div class="Goodup-middle-caption mt-3">
                        <div class="Goodup-location"><i class="fas fa-map-marker-alt"></i>San Denever, USA</div>
                        <div class="Goodup-call"><i class="fas fa-phone-alt"></i>+91 365 874 6310</div>
                    </div>
                </div>
                <div class="Goodup-grid-footer py-3 px-3">
                    <div class="Goodup-ft-first">
                        <div class="Goodup-rating">
                            <div class="Goodup-pr-average mid">3.5</div>
                            <div class="Goodup-rates">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div class="Goodup-price-range">
                            <span class="active"><i class="fas fa-dollar-sign"></i></span>
                            <span class="active"><i class="fas fa-dollar-sign"></i></span>
                            <span><i class="fas fa-dollar-sign"></i></span>
                            <span><i class="fas fa-dollar-sign"></i></span>
                        </div>
                    </div>
                    <div class="Goodup-ft-last">
                        <span class="small">10 min ago</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Single -->
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="Goodup-grid-wrap">
            <div class="Goodup-grid-upper">
                <div class="Goodup-bookmark-btn"><button type="button"><i class="lni lni-heart-filled position-absolute"></i></button></div>
                <div class="Goodup-pos ab-left">
                    <div class="Goodup-status open me-2">Open</div>
                    <div class="Goodup-featured-tag">Featured</div>
                </div>
                <div class="Goodup-grid-thumb"><!--https://via.placeholder.com/1200x850-->
                    <a  class="d-block text-center m-auto"><img src="https://source.unsplash.com/1200x850/?event,world" class="img-fluid" alt="" /></a>
                </div>
            </div>
            <div class="Goodup-grid-fl-wrap"><!--https://via.placeholder.com/400x400-->
                <div class="Goodup-caption px-3 py-2">
                    <div class="Goodup-author"><a ><img src="https://source.unsplash.com/400x400/?profile,people" class="img-fluid circle" alt="" /></a></div>
                    <div class="Goodup-cates"><a href="search.html">Hotels</a></div>
                    <h4 class="mb-0 ft-medium medium"><a href="listing-search-v1.html" class="text-dark fs-md">The Gold Hotel Lalit<span class="verified-badge"><i class="fas fa-check-circle"></i></span></a></h4>
                    <div class="Goodup-middle-caption mt-3">
                        <div class="Goodup-location"><i class="fas fa-map-marker-alt"></i>California, USA</div>
                        <div class="Goodup-call"><i class="fas fa-phone-alt"></i>+91 365 874 2140</div>
                    </div>
                </div>
                <div class="Goodup-grid-footer py-3 px-3">
                    <div class="Goodup-ft-first">
                        <div class="Goodup-rating">
                            <div class="Goodup-pr-average high">4.4</div>
                            <div class="Goodup-rates">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div class="Goodup-price-range">
                            <span class="active"><i class="fas fa-dollar-sign"></i></span>
                            <span class="active"><i class="fas fa-dollar-sign"></i></span>
                            <span class="active"><i class="fas fa-dollar-sign"></i></span>
                            <span><i class="fas fa-dollar-sign"></i></span>
                        </div>
                    </div>
                    <div class="Goodup-ft-last">
                        <span class="small">3 Hours ago</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Single -->
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="Goodup-grid-wrap">
            <div class="Goodup-grid-upper">
                <div class="Goodup-bookmark-btn"><button type="button"><i class="lni lni-heart-filled position-absolute"></i></button></div>
                <div class="Goodup-pos ab-left">
                    <div class="Goodup-status open me-2">open</div>
                </div>
                <div class="Goodup-grid-thumb"><!--https://via.placeholder.com/1200x850-->
                    <a  class="d-block text-center m-auto"><img src="https://source.unsplash.com/1200x850/?event,world" class="img-fluid" alt="" /></a>
                </div>
            </div>
            <div class="Goodup-grid-fl-wrap"><!--https://via.placeholder.com/400x400-->
                <div class="Goodup-caption px-3 py-2">
                    <div class="Goodup-author"><a><img src="https://source.unsplash.com/400x400/?profile,people" class="img-fluid circle" alt="" /></a></div>
                    <div class="Goodup-cates"><a href="search.html">Zym & Health</a></div>
                    <h4 class="mb-0 ft-medium medium"><a href="listing-search-v1.html" class="text-dark fs-md">Fitness Revolution Gym<span class="verified-badge"><i class="fas fa-check-circle"></i></span></a></h4>
                    <div class="Goodup-middle-caption mt-3">
                        <div class="Goodup-location"><i class="fas fa-map-marker-alt"></i>New Wshington, UK</div>
                        <div class="Goodup-call"><i class="fas fa-phone-alt"></i>+91 368 740 5100</div>
                    </div>
                </div>
                <div class="Goodup-grid-footer py-3 px-3">
                    <div class="Goodup-ft-first">
                        <div class="Goodup-rating">
                            <div class="Goodup-pr-average mid">4.9</div>
                            <div class="Goodup-rates">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div class="Goodup-price-range">
                            <span class="active"><i class="fas fa-dollar-sign"></i></span>
                            <span class="active"><i class="fas fa-dollar-sign"></i></span>
                            <span class="active"><i class="fas fa-dollar-sign"></i></span>
                            <span><i class="fas fa-dollar-sign"></i></span>
                        </div>
                    </div>
                    <div class="Goodup-ft-last">
                        <span class="small">1 days ago</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<!-- /row -->

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span class="fas fa-arrow-circle-right"></span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item active"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">...</a></li>
            <li class="page-item"><a class="page-link" href="#">18</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span class="fas fa-arrow-circle-right"></span>
                <span class="sr-only">Next</span>
              </a>
            </li>
        </ul>
    </div>
</div>
