			<!-- ============================ Listing Details Start ================================== -->
			<section class="gray py-5 position-relative">
				<div class="container">
					<div class="row">
						<div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
							
							<!-- About The Business -->
							<div class="bg-white rounded mb-4">
								<div class="jbd-01 px-4 py-4">
									<div class="jbd-details">
										<h5 class="ft-bold fs-lg">About the Event</h5>
										
										<div class="d-block mt-3">
											<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur</p>
											<p class="p-0 m-0">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur</p>
										</div>
									</div>
									
								</div>
							</div>

							<!-- Location & Hours -->
							<div class="bg-white rounded mb-4">
								<div class="jbd-01 px-4 py-4">
									<div class="jbd-details mb-4">
										<h5 class="ft-bold fs-lg">Location & Hours</h5>
										<div class="Goodup-lot-wrap d-block">
											<div class="row g-4">
												<div class="col-xl-6 col-lg-6 col-md-12">
													<div class="list-map-lot">
														<div class="card-container">
															
														</div>
														<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2680.0391464536874!2d-67.14226046758664!3d18.203134804645387!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c02b24ac0b43c11%3A0xcbb043cb172e1f62!2s52%20C.%20M%C3%A9ndez%20Vigo%2C%20Mayag%C3%BCez%2C%2000680%2C%20Puerto%20Rico!5e0!3m2!1sen!2sus!4v1686849085173!5m2!1sen!2sus" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
													</div>
													<div class="list-map-capt">
														<div class="lio-pact"><span class="ft-medium text-info">Full Address</span></div>
														<div class="lio-pact"><span class="hkio-oilp ft-bold">State, Country, Postal Code</span></div>
														<div class="lio-pact"><span class="hkio-oilp ft-bold">City</span></div>
													 <div class="lio-pact">
															<!-- <ul>
																<li><a href="https://maps.google.com?saddr=Current+Location&daddr={{Event.lat}},{{Event.long}}&mode=transit&dirflg=r" target="_blank">Here</a></li>
																<li><a href="https://maps.google.com?saddr=Current+Location&daddr={{Event.lat}},{{Event.long}}&mode=transit&dirflg=r" target="_blank">Here</a></li>
															</ul> -->
															<div id="centerDiv">
																<ul class="centerUL">
																	<li><a href="https://maps.google.com?saddr=Current+Location&daddr=,&mode=driving" target="_blank"><i class="fas fa-car"></i>Driving</a>&nbsp;&nbsp;</li>
																	<li><a href="https://maps.google.com?saddr=Current+Location&daddr=,&dirflg=w" target="_blank"><i class="fas fa-walking"></i>Walking</a>&nbsp;&nbsp;</li>
																	<li><a href="https://maps.google.com?saddr=Current+Location&daddr=,&mode=transit&dirflg=r" target="_blank"><i class="fas fa-bus"></i>Transit</a>&nbsp;&nbsp;</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-6 col-lg-6 col-md-12">
													<table class="table table-borderless">
														<tbody>
															<tr>
																<th scope="row">Mon</th>
																<td>5:00 PM - 8:30 PM</td>
																<td class="text-success">Open now</td>
															</tr>
															<tr>
																<td>Tue</td>
																<td>5:00 PM - 8:30 PM</td>
																<td></td>
															</tr>
															<tr>
																<td>Wed</td>
																<td>5:00 PM - 8:30 PM</td>
																<td></td>
															</tr>
															<tr>
																<td>Thu</td>
																<td>5:00 PM - 8:30 PM</td>
																<td></td>
															</tr>
															<tr>
																<td>Fri</td>
																<td>5:00 PM - 6:30 PM</td>
																<td></td>
															</tr>
															<tr>
																<td>Sat</td>
																<td>Closed</td>
																<td></td>
															</tr>
															<tr>
																<td>Sun</td>
																<td>Closed</td>
																<td></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<!-- Business Menu -->
							<div class="bg-white rounded mb-4">
								<div class="jbd-01 px-4 py-4">
									<div class="jbd-details mb-2">
										<h5 class="ft-bold fs-lg">Business Menu</h5>
										
										<div class="d-block mt-3">
											<div class="row g-3">
													
												<!-- Single Menu -->
												<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-6">
													<div class="Goodup-sng-menu">
														<div class="Goodup-sng-menu-thumb"><!--https://via.placeholder.com/550x400-->
															<img src="https://source.unsplash.com/550x400/?menu,food" class="img-fluid" alt="" />
														</div>
														<div class="Goodup-sng-menu-caption">
															<h4 class="ft-medium fs-md">Brigue Medium Burger</h4>
															<div class="lkji-oiyt"><span>Start From</span> <h5 class="theme-cl ft-bold">$49</h5></div>
														</div>
													</div>
												</div>
												
												<!-- Single Menu -->
												<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-6">
													<div class="Goodup-sng-menu">
														<div class="Goodup-sng-menu-thumb">
															<img src="https://source.unsplash.com/550x400/?food,menu" class="img-fluid" alt="" />
														</div>
														<div class="Goodup-sng-menu-caption">
															<h4 class="ft-medium fs-md">Cheese Mrig Buttor</h4>
															<div class="lkji-oiyt"><span>Start From</span> <h5 class="theme-cl ft-bold">$129</h5></div>
														</div>
													</div>
												</div>
												
												<!-- Single Menu -->
												<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-6">
													<div class="Goodup-sng-menu">
														<div class="Goodup-sng-menu-thumb">
															<img src="https://source.unsplash.com/550x400/?icecream,food" class="img-fluid" alt="" />
														</div>
														<div class="Goodup-sng-menu-caption">
															<h4 class="ft-medium fs-md">Potato Chips Crispy</h4>
															<div class="lkji-oiyt"><span>Start From</span> <h5 class="theme-cl ft-bold">$79</h5></div>
														</div>
													</div>
												</div>
												
												<!-- Single Menu -->
												<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-6">
													<div class="Goodup-sng-menu">
														<div class="Goodup-sng-menu-thumb">
															<img src="https://source.unsplash.com/550x400/?steak,food" class="img-fluid" alt="" />
														</div>
														<div class="Goodup-sng-menu-caption">
															<h4 class="ft-medium fs-md">Non Vegetarion Burger</h4>
															<div class="lkji-oiyt"><span>Start From</span> <h5 class="theme-cl ft-bold">$60</h5></div>
														</div>
													</div>
												</div>
												
												<!-- Single Menu -->
												<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-6">
													<div class="Goodup-sng-menu">
														<div class="Goodup-sng-menu-thumb">
															<img src="https://source.unsplash.com/550x400/?candy,food" class="img-fluid" alt="" />
														</div>
														<div class="Goodup-sng-menu-caption">
															<h4 class="ft-medium fs-md">Kadhai Paneer & Pee</h4>
															<div class="lkji-oiyt"><span>Start From</span> <h5 class="theme-cl ft-bold">$120</h5></div>
														</div>
													</div>
												</div>
												
												<!-- Single Menu -->
												<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-6">
													<div class="Goodup-sng-menu">
														<div class="Goodup-sng-menu-thumb">
															<img src="https://source.unsplash.com/550x400/?salad,food" class="img-fluid" alt="" />
														</div>
														<div class="Goodup-sng-menu-caption">
															<h4 class="ft-medium fs-md">Crispy Chicken Muskio</h4>
															<div class="lkji-oiyt"><span>Start From</span> <h5 class="theme-cl ft-bold">$99</h5></div>
														</div>
													</div>
												</div>
											
											</div>
										</div>
									</div>
									
								</div>
							</div>
							
							<!-- Amenities and More -->
							<div class="bg-white rounded mb-4">
								<div class="jbd-01 px-4 py-4">
									<div class="jbd-details">
										<h5 class="ft-bold fs-lg">Amenities and More</h5>
										
										<div class="Goodup-all-features-list mt-3">
											<ul>
												<li><div class="Goodup-afl-pace"><img src="assets/img/verify.svg" class="" alt="" /><span>Health Score 8.7 / 10</span></div></li>
												<li><div class="Goodup-afl-pace"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>Offers Delivery</span></div></li>
												<li><div class="Goodup-afl-pace"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>Offers Takeout</span></div></li>
												<li><div class="Goodup-afl-pace"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>Reservations</span></div></li>
												<li><div class="Goodup-afl-pace"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>Staff wears masks</span></div></li>
												<li><div class="Goodup-afl-pace"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>Vegan Options</span></div></li>
												<li><div class="Goodup-afl-pace"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>Vegetarian Options</span></div></li>
												<li><div class="Goodup-afl-pace"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>Accepts Credit Cards</span></div></li>
												<li><div class="Goodup-afl-pace"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>Casual</span></div></li>
												<li><div class="Goodup-afl-pace"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>Moderate Noise</span></div></li>
												<li><div class="Goodup-afl-pace"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>Offers Catering</span></div></li>
												<li><div class="Goodup-afl-pace"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>Good for Groups</span></div></li>
												<li><div class="Goodup-afl-pace"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>Good For Kids</span></div></li>
												<li><div class="Goodup-afl-pace"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>Good for Breakfast</span></div></li>
												<li><div class="Goodup-afl-pace"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>Brunch, Lunch, Dinner</span></div></li>
												<li><div class="Goodup-afl-pace"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>Private Lot Parking</span></div></li>
												<li><div class="Goodup-afl-pace"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>Waiter Service</span></div></li>
												<li><div class="Goodup-afl-pace"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>Free Wi-Fi</span></div></li>
												<li><div class="Goodup-afl-pace"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>Beer & Wine</span></div></li>
												<li><div class="Goodup-afl-pace"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>Drive-Thru</span></div></li>
												<li><div class="Goodup-afl-pace deactive"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>Wheelchair Accessible</span></div></li>
												<li><div class="Goodup-afl-pace deactive"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>TV Services</span></div></li>
												<li><div class="Goodup-afl-pace deactive"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>Outdoor Seating</span></div></li>
												<li><div class="Goodup-afl-pace deactive"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>Happy Hour</span></div></li>
												<li><div class="Goodup-afl-pace deactive"><img src="assets/img/verify.svg" class="img-fluid" alt="" /><span>Pets Allow</span></div></li>
											</ul>
										</div>
									</div>
									
								</div>
							</div>
							
							<!-- Frequently Asked Questions -->
							<div class="d-block mb-2">
								<div class="jbd-01 py-2">
									<div class="jbd-details">
										<h5 class="ft-bold fs-lg">Frequently Asked Questions</h5>
										
										<div class="d-block mt-3">
											<div id="accordion2" class="accordion">
												<div class="card">
													<div class="card-header" id="h7">
													  <h5 class="mb-0">
														<button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#ord7" aria-expanded="true" aria-controls="ord7">
															Can I get GoodUP listing for free?
														</button>
													  </h5>
													</div>

													<div id="ord7" class="collapse show" aria-labelledby="h7" data-parent="#accordion2">
													  <div class="card-body">
														Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
													  </div>
													</div>
												</div>
												<div class="card">
													<div class="card-header" id="h8">
													  <h5 class="mb-0">
														<button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#ord8" aria-expanded="false" aria-controls="ord8">
															How to Permanently Delete Files From Windows?
														</button>
													  </h5>
													</div>
													<div id="ord8" class="collapse" aria-labelledby="h8" data-parent="#accordion2">
													  <div class="card-body">
														Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
													  </div>
													</div>
												</div>
												<div class="card">
													<div class="card-header" id="h9">
													  <h5 class="mb-0">
														<button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#ord9" aria-expanded="false" aria-controls="ord9">
															Can I get GoodUP listing for free?
														</button>
													  </h5>
													</div>
													<div id="ord9" class="collapse" aria-labelledby="h9" data-parent="#accordion2">
													  <div class="card-body">
														Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
													  </div>
													</div>
												</div>
												<div class="card">
													<div class="card-header" id="h4">
													  <h5 class="mb-0">
														<button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#ord4" aria-expanded="false" aria-controls="ord4">
															For GoodUp which lisence is better for business purpose?
														</button>
													  </h5>
													</div>

													<div id="ord4" class="collapse" aria-labelledby="h4" data-parent="#accordion2">
													  <div class="card-body">
														Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
													  </div>
													</div>
												</div>
											</div>
										</div>
									</div>
									
								</div>
							</div>
							
						</div>
						
						<!-- Sidebar -->
						<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
							
							<!-- Room Booking -->
							<div class="jb-apply-form bg-white rounded py-4 px-4 mb-4">
								<h4 class="ft-bold mb-1 text-center">Book your Seats</h4>
								
								<div class="Goodup-boo-space mt-3">
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12 col-12">
											<h6 class="ft-medium">General</h6>
											<div class="form-group mb-3">
												<div class="guests">
												  <div class="guests-box">
													  <button class="counter-btn" type="button" id="cnt-down"><i class="ti-minus"></i></button>
													  <input type="text" id="guestNo" name="guests" value="1">
													  <button class="counter-btn" type="button" id="cnt-up"><i class="ti-plus"></i></button>
												  </div>
												</div>
											</div>
										</div>
										<div class="col-lg-12 col-md-12 col-sm-12 col-12">
											<h6 class="ft-medium">Palco</h6>
											<div class="form-group mb-3">
												<div class="guests">
												  <div class="guests-box">
													  <button class="counter-btn" type="button" id="kcnt-down"><i class="ti-minus"></i></button>
													  <input type="text" id="kidsNo" name="kids" value="1">
													  <button class="counter-btn" type="button" id="kcnt-up"><i class="ti-plus"></i></button>
												  </div>
												</div>
											</div>
										</div>
										
										<div class="col-lg-12 col-md-12 col-sm-12 mt-3">
											<h6 class="ft-medium">Price & Taxes</h6>
											<div class="_adv_features">
												<ul>
													<li>I Night<span>$170</span></li>
													<li>Discount 25$<span>-$210</span></li>
													<li>Service Fee<span>$13</span></li>
													<li>Breakfast Per Adult<span>$24</span></li>
												</ul>
											</div>
										</div>
										
										<div class="col-lg-12 col-md-12 col-sm-12 mt-3">
											<div class="Goodup-boo-space-foot mb-3">
												<span class="Goodup-boo-space-left">Total Payment</span>
												<h4 class="ft-bold theme-cl">$218</h4>
											</div>
										</div>
										
										<div class="col-lg-12 col-md-12 col-sm-12">
											<a href="#" data-bs-toggle="modal" data-bs-target="#login" class="btn text-light rounded full-width theme-bg">Buy Now</a>
										</div>


									</div>
								</div>
							</div>
							
							<!-- Business Inof -->
							<div class="jb-apply-form bg-white rounded py-4 px-4 mb-4">
								<div class="uli-list-info">
									<ul>
										
										<li>
											<div class="list-uiyt">
												<div class="list-iobk"><i class="fas fa-globe"></i></div>
												<div class="list-uiyt-capt"><h5>Live Site</h5><p>https://www.Goodup.com/</p></div>
											</div>
										</li>
										
										<li>
											<div class="list-uiyt">
												<div class="list-iobk"><i class="fas fa-envelope"></i></div>
												<div class="list-uiyt-capt"><h5>Drop a Mail</h5><p>supportGoodup.com</p></div>
											</div>
										</li>
										
										<li>
											<div class="list-uiyt">
												<div class="list-iobk"><i class="fas fa-phone"></i></div>
												<div class="list-uiyt-capt"><h5>Call Us</h5><p>(210) 659 584 756</p></div>
											</div>
										</li>
										<li>
											<div class="list-uiyt">
												<div class="list-iobk"><a href="https://maps.google.com?saddr=Current+Location&daddr=,&mode=driving" target="_blank"><i class="fas fa-map-marker-alt"></i></a></div>
												<div class="list-uiyt-capt"><h5>Get Directions</h5><a href="https://maps.google.com?saddr=Current+Location&daddr=,&mode=driving" target="_blank"><p>Address</p></a></div>
											</div>
										</li>
										
									</ul>
								</div>
							</div>

							
							<div class="row g-3 mb-3">
								<div class="col-4"><a href="javascript:void(0);" class="adv-btn full-width"><i class="fas fa-share"></i>Share</a></div>
								<div class="col-4"><a href="javascript:void(0);"  class="adv-btn full-width"><i class="fas fa-heart"></i>Save</a></div>
							</div>
							
						</div>
						
					</div>
				</div>
			</section>
			<!-- ============================ Listing Details End ================================== -->
