<!-- ======================= Blog Start ============================ -->
<section class="space min">
    <div class="container">
        
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="sec_title position-relative text-center mb-4">
                    <h6 class="theme-cl mb-0">Latest News</h6>
                    <h2 class="ft-bold">Pickup New Updates</h2>
                </div>
            </div>
        </div>
        
        <div class="row justify-content-center">
            
            <!-- Single Item -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="gup_blg_grid_box">
                    <div class="gup_blg_grid_thumb">
                        <a href="blog-detail.html"><img src="https://via.placeholder.com/1200x800" class="img-fluid" alt=""></a>
                    </div>
                    <div class="gup_blg_grid_caption">
                        <div class="blg_tag"><span>Marketing</span></div>
                        <div class="blg_title"><h4><a href="blog-detail.html">What Is a VPN and How Does It Work?</a></h4></div>
                        <div class="blg_desc"><p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum</p></div>
                    </div>
                    <div class="crs_grid_foot">
                        <div class="crs_flex d-flex align-items-center justify-content-between br-top px-3 py-2">
                            <div class="crs_fl_first">
                                <div class="crs_tutor">
                                    <div class="crs_tutor_thumb"><a href="javascript:void(0);"><img src="https://via.placeholder.com/400x400" class="img-fluid circle" width="35" alt=""></a></div>
                                </div>
                            </div>
                            <div class="crs_fl_last">
                                <div class="foot_list_info">
                                    <ul>
                                        <li><div class="elsio_ic"><i class="fa fa-eye text-success"></i></div><div class="elsio_tx">10k Views</div></li>
                                        <li><div class="elsio_ic"><i class="fa fa-clock text-warning"></i></div><div class="elsio_tx">10 July 2021</div></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Single Item -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="gup_blg_grid_box">
                    <div class="gup_blg_grid_thumb">
                        <a href="blog-detail.html"><img src="https://via.placeholder.com/1200x800" class="img-fluid" alt=""></a>
                    </div>
                    <div class="gup_blg_grid_caption">
                        <div class="blg_tag"><span>Business</span></div>
                        <div class="blg_title"><h4><a href="blog-detail.html">What Is Ransomware: The Ultimate Guide?</a></h4></div>
                        <div class="blg_desc"><p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum</p></div>
                    </div>
                    <div class="crs_grid_foot">
                        <div class="crs_flex d-flex align-items-center justify-content-between br-top px-3 py-2">
                            <div class="crs_fl_first">
                                <div class="crs_tutor">
                                    <div class="crs_tutor_thumb"><a href="javascript:void(0);"><img src="https://via.placeholder.com/400x400" class="img-fluid circle" width="35" alt=""></a></div>
                                </div>
                            </div>
                            <div class="crs_fl_last">
                                <div class="foot_list_info">
                                    <ul>
                                        <li><div class="elsio_ic"><i class="fa fa-eye text-success"></i></div><div class="elsio_tx">10k Views</div></li>
                                        <li><div class="elsio_ic"><i class="fa fa-clock text-warning"></i></div><div class="elsio_tx">10 July 2021</div></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Single Item -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="gup_blg_grid_box">
                    <div class="gup_blg_grid_thumb">
                        <a href="blog-detail.html"><img src="https://via.placeholder.com/1200x800" class="img-fluid" alt=""></a>
                    </div>
                    <div class="gup_blg_grid_caption">
                        <div class="blg_tag"><span>Accounting</span></div>
                        <div class="blg_title"><h4><a href="blog-detail.html">Can iPads Get Viruses? What You Need</a></h4></div>
                        <div class="blg_desc"><p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum</p></div>
                    </div>
                    <div class="crs_grid_foot">
                        <div class="crs_flex d-flex align-items-center justify-content-between br-top px-3 py-2">
                            <div class="crs_fl_first">
                                <div class="crs_tutor">
                                    <div class="crs_tutor_thumb"><a href="javascript:void(0);"><img src="https://via.placeholder.com/400x400" class="img-fluid circle" width="35" alt=""></a></div>
                                </div>
                            </div>
                            <div class="crs_fl_last">
                                <div class="foot_list_info">
                                    <ul>
                                        <li><div class="elsio_ic"><i class="fa fa-eye text-success"></i></div><div class="elsio_tx">10k Views</div></li>
                                        <li><div class="elsio_ic"><i class="fa fa-clock text-warning"></i></div><div class="elsio_tx">10 July 2021</div></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
</section>
<!-- ======================= Blog Start ============================ -->
