<section class="about-bg bg-cover" style="background:url(https://images.unsplash.com/photo-1568992687947-868a62a9f521?q=80&w=2832&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat;">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-11 col-sm-12">
                <div class="abt-caption">
                    <div class="abt-caption-head">
                        <h1>Smart team alwasy create better thing and better solutions.</h1>
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</h6>
                        <div class="abt-bt-info"><a href="javascript:void(0);" class="btn ft-medium theme-cl bg-white rounded">Get Started<i class="fas fa-arrow-right ms-2"></i></a></div>
                        <div class="position-relative row">
                            <div class="col-lg-4 col-md-4 col-4">
                                <h3 class="ft-bold text-sky mb-0"><span class="count">07</span>+</h3>
                                <p class="ft-medium text-light">Business Listing</p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-4">
                                <h3 class="ft-bold text-warning mb-0"><span class="count">06</span>k+</h3>
                                <p class="ft-medium text-light">Popular Authors</p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-4">
                                <h3 class="ft-bold text-danger mb-0"><span class="count">200</span>+</h3>
                                <p class="ft-medium text-light">Countries</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>