<!-- ======================= How It Work Detail ======================== -->
<section class="space min">
    <div class="container">
        
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="sec_title position-relative text-center mb-5">
                    <h6 class="mb-0 theme-cl">Working Process</h6>
                    <h2 class="ft-bold">How It Working</h2>
                </div>
            </div>
        </div>
    
        <div class="row align-items-center">
            
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="wrk-pro-box first">
                    <div class="wrk-pro-box-icon"><i class="ti-map-alt text-success"></i></div>
                    <div class="wrk-pro-box-caption">
                        <h4>Find Interesting Place</h4>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti</p>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="wrk-pro-box sec">
                    <div class="wrk-pro-box-icon"><i class="ti-user theme-cl"></i></div>
                    <div class="wrk-pro-box-caption">
                        <h4>Contact A Few Owners</h4>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti</p>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="wrk-pro-box thrd">
                    <div class="wrk-pro-box-icon"><i class="ti-shield text-sky"></i></div>
                    <div class="wrk-pro-box-caption">
                        <h4>Make A Reservation</h4>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- ======================= How It Work End ======================== -->
